

 	.img-responsive{
 		max-width: 100%;
 		display: block;
 		margin: auto;

 	}
 	p, li{
 		font-family: 'Source Sans Pro', sans-serif;
 		font-size: 12px;
 		text-align: justify;
 	}
 	h2{
 		color: red;
 	}
 	.row{
 		display: inline-flex;
 	}
 	.logofundación{
 		height: 200px;
 		width: 50%;
 	}
 	body{
 		padding-top: 50px;
 	}
 	footer{
 		padding-top: 30px;
 	}
